@import './_globals.scss';

#rdocs-light-tooltip{
    top: 0;
    visibility: hidden;
    position: absolute;
    border: 1px solid $primary-lighter;
    background-color: $primary-extra-light;
    z-index: 10;
    height: $tooltip-height;
    width: 370px;
    padding: $tooltip-padding;
    border-radius: 10px;
    font-size: $default-font-size !important;
    font-family: $font-family !important;
    line-height: $default-line-height !important;
    box-sizing: content-box !important;
    overflow-y: hidden !important;
    overflow-x: hidden  !important;
    display: flex;
    flex-flow: column;
    color: #3a3a3a;
}
