@import './_globals.scss';
@import './_nav.scss';
@import './_loader.scss';

#rdocs-light-tooltip{
    visibility: hidden;
    position: absolute;
    border: 1px solid $primary-lighter;
    background-color: $primary-extra-light;
    z-index: 10;
    height: $tooltip-height;
    width: 370px;
    padding: $tooltip-padding;
    border-radius: 10px;
    font-size: $default-font-size !important;
    font-family: $font-family !important;
    line-height: $default-line-height !important;
    box-sizing: content-box !important;
    overflow-y: hidden !important;
    overflow-x: hidden  !important;
    display: flex;
    flex-flow: column;
    code {
      display: inline-block;
      line-height: 1;
      margin: 0 0.25em;
      padding: 0.2em 0.4em 0.35em 0.4em;
      color: #3a3a3a;
      font-family: monospace;
      font-size: 0.8rem;
      background-color: #eaeef3;
      border-radius: 3px;
    }
}

#rdocs-light-tooltip-content{
    flex: 1;
    overflow: hidden;
    max-height: calc(#{$tooltip-height} - #{$bottom-height});
    p {
      -webkit-margin-before: 0px;
    }
    h3 {
        font-size: $h3-size;
        margin-top: 0.3rem;
        -webkit-margin-after: 0px;
        margin-top: 0.3rem;
    }
}

#rdocs-light-tooltip-header{
    display: flex;
    justify-content: space-between;
    a {
        color: $text-tertiary;
        font-size: 1em;
        text-decoration: none;
        border: none;
    }
}

#rdocs-light-tooltip-link{
  margin-top: 0.5rem;
  zoom: 0.8;
}

.rdocs-light-tooltip-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-height;
}

.rdocs-light-link-hovered{
    color: blue;
}

.rdocs-light-button {
    border: none;
    display: inline-block;
    text-decoration: none;
    border-radius: $button-radius;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    padding: 0.5rem 1.875rem;
    transition: background-color $default-duration ease, color $default-duration ease;
    text-align: center;

    &:hover, &:focus, &:active:focus {
        outline: none;
    }

    .fa {
        margin-right: 0.5rem;
    }
}

@mixin rdocs-light-color-button($bg, $color, $hover){
    background-color: $bg;
    color: $color;
    &:hover,
    &:focus { background-color: $hover; color: $color;}
}

.rdocs-light-button-primary {
    @include rdocs-light-color-button($accent, $accent-dark, $accent-light);
}

.rdocs-light-button-secondary {
    @include rdocs-light-color-button($primary-light, $text-invert, $primary-lighter);
}
