@import './_globals.scss';
@import './_nav.scss';
@import './_loader.scss';

#rdocs-light-tooltip-container{
    background-color: $primary-extra-light;
    font-size: $default-font-size !important;
    font-family: $font-family !important;
    line-height: $default-line-height !important;
    box-sizing: content-box !important;
    overflow-y: hidden !important;
    overflow-x: hidden  !important;
    color: #3a3a3a;
    height: 100%;
    code {
      display: inline-block;
      line-height: 1;
      margin: 0 0.25em;
      padding: 0.2em 0.4em 0.35em 0.4em;
      color: #3a3a3a;
      font-family: monospace;
      font-size: 0.8rem;
      background-color: #eaeef3;
      border-radius: 3px;
    }
    dl dd {
      margin-left: 40px;
      margin-bottom: 1rem;
    }
    dd {
      p {font-weight: 300}
    }
    dl:after {
      content: "";
      display: table;
      clear: both;
    }
    dl dt{
      font-weight: bold;
      float: left;
      margin-right: 15px;
    }
}

#rdocs-light-tooltip-content{
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 4px;
    max-height: calc(#{$tooltip-height} - #{$bottom-height});
    p {
      -webkit-margin-before: 0px;
    }
    h3 {
        font-size: $h3-size;
        margin-top: 0.3rem;
        -webkit-margin-after: 0px;
        line-height: 1.5 !important;
    }
}

#rdocs-light-tooltip-content::-webkit-scrollbar {
    width: 5px;
    margin-top: -5px;
}

#rdocs-light-tooltip-content::-webkit-scrollbar-track {
    background: $primary-extra-light;
}

#rdocs-light-tooltip-content::-webkit-scrollbar-thumb {
    background: $primary-lighter;
}

#rdocs-light-tooltip-header{
    display: flex;
    justify-content: space-between;
    a {
        color: $text-tertiary;
        font-size: 1em;
        text-decoration: none;
        border: none;
    }
}

#rdocs-light-tooltip-link{
  margin-top: 0.5rem;
  zoom: 0.8;
}

.rdocs-light-tooltip-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-height;
}

.rdocs-light-link-hovered{
    color: blue;
}
