<div id="rdocs-light-tooltip-header">
  <a href="" target="_blank" id="rdocs-light-tooltip-header-package"></a>
  <a href="" target="_blank" id="rdocs-light-tooltip-header-version"></a>
</div>
<div id="rdocs-light-tooltip-content">
  <h3 id="rdocs-light-tooltip-title"></h3>
  <div id="rdocs-light-tooltip-description"></div>
</div>
<div class="rdocs-light-tooltip-bottom">
  <a id="rdocs-light-tooltip-link"
    class="rdocs-light-button rdocs-light-button-secondary" href="" target="_blank">Go To Documentation</a>
</div>
