<div id="rdocs-light-tooltip-header">
  <a href="" target="_blank" id="rdocs-light-tooltip-header-package"></a>
  <a href="" target="_blank" id="rdocs-light-tooltip-header-version"></a>
</div>
<div id="rdocs-light-tooltip-content">
  <h3 id="rdocs-light-tooltip-title"></h3>
  <div id="rdocs-light-tooltip-description"></div>
</div>
<div class="rdocs-light-tooltip-bottom">
  <div id="rdocs-light-tooltip-anchors">
    <span class="rdocs-light-arrow">&lt;</span>
    <span class="rdocs-light-arrow">&gt;</span>
    <ul id="rdocs-light-nav">
    </ul>
    </div>
 </div>
