<div id="rdocs-light-tooltip-header">
  <a href="" target="_blank" id="rdocs-light-tooltip-header-topic"></a>
  <a href="" target="_blank" id="rdocs-light-tooltip-header-package"></a>
</div>
<div id="rdocs-light-tooltip-content">
  <h3 id="rdocs-light-tooltip-title"></h3>
  <div id="rdocs-light-tooltip-description"></div>
  <div id="rdocs-light-tooltip-usage">
    <div>
      <h3>Usage</h3>
    </div>
    <div id="rdocs-light-tooltip-usage-content"></div>
  </div>
  <div id="rdocs-light-tooltip-arguments">
    <div>
      <h3>Arguments</h3>
    </div>
    <div id="rdocs-light-tooltip-arguments-content"></div>
  </div>
</div>
<div class="rdocs-light-tooltip-bottom">
<a id="rdocs-light-tooltip-link"
    class="rdocs-light-button rdocs-light-button-secondary" style="display: none" href="" target="_blank">Go To Documentation</a>
  <div id="rdocs-light-tooltip-anchors">
    <span class="rdocs-light-arrow">&lt;</span>
    <span class="rdocs-light-arrow">&gt;</span>
    <ul id="rdocs-light-nav">
    </ul>
    </div>
 </div>
